
  <!-- Footer -->
  <footer style="background-color: #00ABB3; height: 150px;">

    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center icon_list">
            <li class="list-inline-item">
              <a href="#">
                <span class=""><i class="bi bi-twitter text-dark"></i></span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class=""><i class="bi bi-facebook text-dark"></i></span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class=""><i class="bi bi-instagram text-dark "></i></span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span><i class="bi bi-github text-dark"></i></span>
              </a>
            </li>
          </ul>
          <p class="copyright text-center text-dark">Copyright &copy 2022 | Design by Ramses. | All Rights Reserved</p>
        </div>
      </div>
  </div>
  </footer>

</body>
</html>

