{% extends "base.html" %}

{% block content %}
<div class="container content-section">
  <div class="card" style="width: 18rem;">
    <img src="{{ img_url }}"  class="card-img-top"  alt="Cafe_image">
  <div class="card-body">
    <h5 class="card-title">{{cafe.name }}</h5>
    <p class="card-text">Location: {{ cafe.location }}</p>
    <p class="card-text"><i class="bi bi-cup-hot-fill"></i>&nbsp; {{ cafe.coffee_price }}</p>
    <p class="card-text"><i class="bi bi-wifi"></i>
      {% if cafe.has_wifi  %}
      &nbsp;Yes
    {% else %}
      &nbsp;No
    {% endif %}
  </p>
    <p>🪑 Seats &nbsp;{{ cafe.seats }}</p>
    <a href="{{ cafe.map_url }}" class="btn btn-primary">Location Map</a>
    <div class="dropdown pt-2">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Adds On
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#">🚻 Has Toilets</a>{% if cafe.has_toilet  %}
      &nbsp;Yes
    {% else %}
      &nbsp;No
    {% endif %}</li>
    <li><a class="dropdown-item" href="#">☎️ Can Take Calls</a>{% if cafe.can_take_calls  %}
      &nbsp;Yes
    {% else %}
      &nbsp;No
    {% endif %}</li>
    <li><a class="dropdown-item" href="#">🔌 Has Sockets</a>{% if cafe.has_sockets %}
      &nbsp;Yes
    {% else %}
      &nbsp;No
    {% endif %}</li>
  </ul>
  </div>
  </div>
  </div>
</div>
{% endblock content %}